.row:{
 background:blue;
 }

.header{
width:100%;
height:10%;
background:lightblue;
font-size: 2em;
text-align: center;
line-height: auto;
padding:2%;
float: left;
}
*{box-sizing: border-box;}

.nav{
width:100%;
height: 10%;
background:rgba(226, 255, 0, 0.75);
font-size: 2em;
text-align: center;
line-height: auto;
padding:2%;    
float:left;
    }

.sidebar{
width:25%;
height:400px;
background:#3e3eba;
font-size: 2em;
text-align: center;
line-height: 400px;
padding:2%;
float: left;
}

.main{
width:75%;
height:400px;
background:green;
font-size: 2em;
text-align: center;
line-height: 400px;
padding:2%;
float: right;
}

.footer{
width:100%;
height:100%;
background:orange;
font-size: 2em;
text-align: center;
line-height:auto;
padding:2%;
float: left;
}   


*{box-sizing:border-box;}
.nav>li{
 display:inline-block;
 position:relative;
 border:1px solid gray;
 border-right:0;
 padding:.5em 1em;
 margin-left:-4px;
 width:25%;
 cursor:pointer;
  
 }
.nav>li:last-child{
  border-right:1px solid gray;}

.submenu{
 width:200px;
 padding:0px;
 position:absolute;
 top:100%;
 left:-1px;
  background:#fff;
  list-style-type:none; 
  border:1px solid gray;
  border-radius:6px;
  display:none;
 }

.submenu>li{
 padding:0.5em 1em;
}
.nav>li:hover .submenu{
 display:block;
  background:#eee;
}


.land{
  position: static; 
  height: 5000px;
  background: lightblue;
    text-align: center;
    color: red;
    line-height: 300px;
    font-size: 3em;
}
.bug{
  position: fixed;
  background: red;
  width:30px;
  height:30px;
  border-radius:15px;
  bottom:0px;
  right:0px;
  color:white;
  text-align:center;
  line-height:30px;

}